@font-face {
  font-family: Sanspro-Black;
  src: url('../fonts/SourceSansPro-Black.ttf');
}

@font-face {
  font-family: Sanspro-Black-Italic;
  src: url('../fonts/SourceSansPro-BlackItalic.ttf');
}

@font-face {
  font-family: Sanspro-Bold;
  src: url('../fonts/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: Sanspro-Bold-Italic;
  src: url('../fonts/SourceSansPro-BoldItalic.ttf');
}

@font-face {
  font-family: Sanspro-Extra-Light;
  src: url('../fonts/SourceSansPro-ExtraLight.ttf');
}

@font-face {
  font-family: Sanspro-Extra-Light-Italic;
  src: url('../fonts/SourceSansPro-ExtraLightItalic.ttf');
}

@font-face {
  font-family: Sanspro-Regular;
  src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: Sanspro-Semibold;
  src: url('../fonts/SourceSansPro-Semibold.ttf');
}

